<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBox</title>
    <style>
      * {
        font-family: "Roboto";
      }

      body {
        background-color: #f5f5f5;
      }
    </style>
  </head>

  <body>
    <h1>안녕하세요! DEVbox에서 파일을 확인해보세요</h1>
    <p><a href="{% url 'devbox:detail' file.id %}">{{link}}</a></p>
    <!--수정필요-->
  </body>
</html>
