<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBox</title>
    <style>
        * {
            font-family: "Roboto";
        }

        body {
            background-color: #F5F5F5;
        }

        form {
            background-color: #FFFFFF;
            padding: 25px;
        }

        table {
            width: 100%;
            text-align: center;
            margin-top: 25px;
            padding: 25px;
            background-color: #FFFFFF;
        }

        table tr td {
            padding-top: 15px; 
        }
    </style>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div>
        <span id="share-link"></span>
    </div>
    <form action = "{% url 'devbox:search'%}" method="GET">
        <input name='search_input' type='text' placeholder="검색할 내용을 입력하세요" required>
        <button type='submit'>검색</button>
    </form>
    
    <form action="{% url 'devbox:uploadFile' current_folder_id %}" method="POST" enctype="multipart/form-data">
        <label for="uploadFile"> 파일 업로드
            <input type="file" id="uploadFile" name="uploadFile" multiple>
            {% csrf_token %}
            <input type="submit" value="UploadFile">
        </label>
    </form>

    <form action="{% url 'devbox:createFolder' current_folder_id %}" method="POST">
        <label for="createFolder"> 폴더 생성
            <input type="text" id="createFolder" name="createFolderName">
            {% csrf_token %}
            <input type="submit" value="CreateFolder">
        </label>
    </form>

    <form method="GET" action="{% url 'devbox:sortFile' current_folder_id %}">
        <div class="col-4">
          <select id="sort" name="sort">
            <option value="title" , name="title">이름순</option>
            <option value="size" ,name="size">크기순</option>
            <option value="recent" ,name="recent">최신순</option>
          </select>
          <button class="btn btn-primary" type="submit">정렬</button>
        </div>
      </form>

      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">공유하기</h4>
              <input type="textarea" id="copylink" style="width:500px"/>
            </div>
            <div class="modal-body">
              <h4>이메일/사용자</h4>
              <label
                ><input type="radio" name="mode" value="email" checked />email
              </label>
              <label
                ><input type="radio" name="mode" value="user" />user Id
              </label>
              <h4>액세스 권한</h4>
              <label
                ><input type="radio" name="access" value="public" checked />누구나
              </label>
              <label
                ><input type="radio" name="access" value="private" />지정한 사람만
              </label>
              <h4>링크 만료기간</h4>
              <label><input type="time" min="00:00" max="24:00" /> </label>
              <h4>다운로드</h4>
              <label
                ><input
                  type="radio"
                  name="download"
                  value="possible"
                  checked
                />가능
              </label>
              <label
                ><input type="radio" name="download" value="impossible" />불가능
              </label>
            </div>
              <div class="modal-footer">
                <form method="POST" action="{% url 'devbox:mailing'%}">
                  <input name="email_address" id="email_address" type="email" multiple placeholder="이메일을 입력하세요" required>
                  {% csrf_token %}
                  <input type="textarea" id="selected_target" name="selected_target"/>
                  <button class="btn btn-primary" type="submit">
                    email로 보내기
                  </button>
                </form>
                <button class="btn btn-primary" type="submit" data-dismiss="modal">
                  사용자에게 보내기
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  닫기
                </button> 
              </div>
          </div>
        </div>
      </div>

    <form method="POST">
        <div>
            <input type="submit" value="다운로드" formaction="{% url 'devbox:downloadFile' current_folder_id %}"/>
            <input type="submit" value="삭제" formaction="{% url 'devbox:deleteFileAndFolder' current_folder_id %}"/>
        </div>

        <div>
            <label for="renameFileandFolder">
                <input type="text" id="renameFileandFolder" name="renameFileAndFolderName">
                {% csrf_token%}
                <input type="submit" value="수정" formaction="{% url 'devbox:renameFileAndFolder' current_folder_id %}"/>
            </label>
        </div>

        <table>
            <tr>
                <th>check</th>
                <th>ID</th>
                <th>Title</th>
                <th>File Path</th>
                <th>File Size</th>
                <th>Upload Date & Time</th>
                <th>share</th>
            </tr>

            {% for folder in folders %}
            <tr>
                <td><label><input type="checkbox" name="selected_folder" value="{{ folder.id }}"></label></td>
                <td>{{ folder.id }}</td>
                <td><a href="{% url 'devbox:changeDirectory' folder.id %}">{{ folder.get_foldername }}</a></td>
                <td>/{{ folder.id }}/</td>
                <td></td>
                <td>{{ folder.dateTimeOfUpload }}</td>
                <!--data-target : 모달 이름, data-sharetarget : 쉐어할 폴더 작성--> 
                <td><type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myModal"
                  data-sharetarget="{{ folder.uuid }}">공유</button></td>
            </tr>
            {% endfor %}

            {% for file in files %}
            <tr>
                <td><label><input type="checkbox" name="selected_file" value="{{ file.id }}"></label></td>
                <td>{{ file.id }}</td>
                <td><a href="{% url 'devbox:detail' file.id %}">{{ file.fileName }}</a></td>
                <td>{{ file.uploadedFile.url }}</td>
                <td>{{ file.fileSize|filesizeformat }}</td>
                <td>{{ file.dateTimeOfUpload }}</td>
                <td><type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myModal"
                  data-sharefile="{{ file.uuid }}">공유</button></td>
            </tr>
            {% endfor %}
        </table>
        <ul class="pagination justify-content-center">
          {% if page.has_previous %}
            <li calss="page item">
              <a class="page-link" 
                 href="?page={{page.previous_page_number}}">
                  이전
              </a>
            </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                이전
            </a>
          </li>
          {% endif %}
          {% for page_number in page.paginator.page_range %}
              {% if page_number == page.number %}
              <li calss="page-item active" aria-current="page">
                <a class="page-link" href="?page={{page_number}}">
                  {{page_number}}
                </a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{page_number}}">
                  {{page_number}}
                </a>
              </li>
              {% endif %}
          {% endfor %}
          {% if page.has_next %}
          <li class="page-item">
            <a class="page-link"
               href="?page={{page.next_page_number}}">
                다음  
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
              다음
            </a>
          </li>
          {% endif %}
         </ul> 
        </div>
    </form>
</body>
<script>
  let copyLink = document.getElementById("copylink");
  let emailAddress=document.getElementById("email_address");

  $(document).ready(function(){
    $('#myModal').on('show.bs.modal',function(event){
      var button = $(event.relatedTarget)
      var target_item = button.data('sharetarget');
      var target_itemFL = button.data('sharefile');
      const blockText = document.getElementById("selected_target");
      if(!target_itemFL){
        blockText.value="127.0.0.1:8000/sh/"+target_item;
        copyLink.value="127.0.0.1:8000/sh/"+target_item;
        blockText.style.display='None';
      }else{
        blockText.value="127.0.0.1:8000/s/"+target_itemFL;
        copyLink.value="127.0.0.1:8000/s/"+target_itemFL;
        blockText.style.display='None';
      }

      $("input[name='mode']").change(function(){
        if($(this).is(':checked')&&$(this).val()=='email'){
          emailAddress.style.display="Block";
        }
        if($(this).is(':checked')&&$(this).val()=='user'){
          emailAddress.style.display="None";
        }
      });

    })
  })
</script>
</html>