<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>DevBox</title>
    <style>

      body {
        background-color: #f5f5f5;
        font-family: 'Jua', sans-serif;
      }

      form {
        background-color: #ffffff;
        padding: 25px;
      }

      table {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        padding: 25px;
        background-color: #ffffff;
      }

      table tr td {
        padding-top: 15px;
      }
    </style>
  </head>

  <body>
    <!-- 파일 업로드 -->
    <form action="{% url 'devbox:uploadFile' current_folder_id %}" method="POST" enctype="multipart/form-data">
      <label for="uploadFile">
        <input type="file" id="uploadFile" name="uploadFile" multiple />
        {% csrf_token %}
        <input type="submit" value="파일 업로드" />
      </label>
    </form>

    <!-- 폴더 생성 -->
    <form action="{% url 'devbox:createFolder' current_folder_id %}" method="POST">
      <label for="createFolder">
        <input type="text" id="createFolder" name="createFolderName" />
        {% csrf_token %}
        <input type="submit" value="폴더 생성" />
      </label>
    </form>

    <!-- 정렬 -->
    <form method="GET" action="{% url 'devbox:sortFileAndFolder' current_folder_id %}">
      <label for="sortFileAndFolder">
        <select id="sortFileAndFolder" name="sortFileAndFolder">
          <option value="title" name="title">이름순</option>
          <option value="size" name="size">크기순</option>
          <option value="recent" name="recent">최신순</option>
        </select>
        <button class="btn btn-primary" type="submit">정렬</button>
      </label>
    </form>

    <!-- 검색 -->
    <form action = "{% url 'devbox:searchFileAndFolder'%}" method="GET">
        <input name='search_input' type='text' placeholder="검색할 내용을 입력하세요" required>
        <button type='submit'>검색</button>
    </form>

    <form method="POST">
      <div>
        <!-- 다운로드 -->
        <input type="submit" value="다운로드" formaction="{% url 'devbox:downloadFile' current_folder_id %}"/>
        <!-- 삭제 -->
        <input type="submit" value="삭제" formaction="{% url 'devbox:deleteFileAndFolder' current_folder_id %}"/>
      </div>

      <!-- 이름 수정 -->
      <div>
        <label for="renameFileandFolder">
          <input type="text" id="renameFileandFolder" name="renameFileAndFolderName"/>
          {% csrf_token%}
          <input type="submit" value="이름 수정" formaction="{% url 'devbox:renameFileAndFolder' current_folder_id %}"/>
        </label>
      </div>

      <a href="{% url 'devbox:recyclebinDisplay' %}">Recycle Bin</a>
      <!-- directory -->
      <a href="{% url 'devbox:home' %}">root</a>
      {% for p_folder in parentFolders %}
        > <a href="{% url 'devbox:changeDirectory' p_folder.id %}"> {{p_folder.folderName}} </a>
      {% endfor %}


      <table>
        <tr>
          <th>check</th>
          <th>Title</th>
          <th>File Size</th>
          <th>Upload Date & Time</th>
        </tr>

        {% for folder in folders %}
        <tr>
          <td><label><input type="checkbox" name="selected_folder" value="{{ folder.id }}"/></label></td>
          <td><a href="{% url 'devbox:changeDirectory' folder.id %}">{{ folder.get_foldername }}</a></td>
          <td></td>
          <td>{{ folder.dateTimeOfUpload | date:'Y-m-d h:i A' }}</td>
        </tr>
        {% endfor %}

        {% for file in files %}
        <tr>
          <td><label><input type="checkbox" name="selected_file" value="{{ file.id }}"/></label></td>
          <td>{{ file.fileName }}</td>
          <td>{{ file.fileSize | filesizeformat }}</td>
          <td>{{ file.dateTimeOfUpload | date:'Y-m-d h:i A' }}</td>
        </tr>
        {% endfor %}

      </table>
    </form>
  </body>
</html>