<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBox</title>
    <style>
        * {
            font-family: "Roboto";
        }

        body {
            background-color: #F5F5F5;
        }

        form {
            background-color: #FFFFFF;
            padding: 25px;
        }

        table {
            width: 100%;
            text-align: center;
            margin-top: 25px;
            padding: 25px;
            background-color: #FFFFFF;
        }

        table tr td {
            padding-top: 15px; 
        }
    </style>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div>
        <span id="share-link"></span>
    </div>

    <form method="GET" action="{% url 'devbox:sortFile' current_folder_id %}">
        <div class="col-4">
          <select id="sort" name="sort">
            <option value="title" , name="title">이름순</option>
            <option value="size" ,name="size">크기순</option>
            <option value="recent" ,name="recent">최신순</option>
          </select>
          <button class="btn btn-primary" type="submit">정렬</button>
        </div>
    </form>
    <form method="POST">
        <div>
            <input type="submit" value="다운로드" formaction="{% url 'devbox:downloadFile' current_folder_id %}"/>
        </div>

        <table>
            <tr>
                <th>check</th>
                <th>ID</th>
                <th>Title</th>
                <th>File Path</th>
                <th>File Size</th>
                <th>Upload Date & Time</th>
            </tr>

            {% for folder in folders %}
            <tr>
                <td><label><input type="checkbox" name="selected_folder" value="{{ folder.id }}"></label></td>
                <td>{{ folder.id }}</td>
                <td><a href="{% url 'devbox:changeDirectory' folder.id %}">{{ folder.get_foldername }}</a></td>
                <td>/{{ folder.id }}/</td>
                <td></td>
                <td>{{ folder.dateTimeOfUpload }}</td>
                <!--data-target : 모달 이름, data-sharetarget : 쉐어할 폴더 작성--> 
            </tr>
            {% endfor %}

            {% for file in files %}
            <tr>
                <td><label><input type="checkbox" name="selected_file" value="{{ file.id }}"></label></td>
                <td>{{ file.id }}</td>
                <td>{{ file.fileName }}</td>
                <td>{{ file.uploadedFile.url }}</td>
                <td>{{ file.fileSize|filesizeformat }}</td>
                <td>{{ file.dateTimeOfUpload }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>