
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Apple SD Gothic Neo', sans-serif;
}

body{
  background: #f5f6fa;
}

.wrapper .sidebar{
  background: #282862;
  position: fixed;
  width: 220px;
  height: 100%;
  padding: 20px 0;
  float: left;
}

.wrapper .sidebar .devbox{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .devbox img{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.wrapper .sidebar .devbox h3{
  color: #ffffff;
  opacity: 0.05;
  font-weight:800;
  font-size: 75px;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  margin: 15px 0 10px;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #313178;
  color: #f1eded;
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 35px;
  display: inline-block;
}

.wrapper .sidebar .item {
font-weight: 500;
font-size: 19px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.main{
  width: 80%;
  height: 100%;
  padding: 20px 0;
  float: right;
}

.header {
display: flex;
justify-content: space-between;
width: 98%;
margin: 10px 0px 10px 0px;
}
.search {
height: 40px;
padding: 5px;
border: 2px solid #cccccc;
background-color: transparent;
border-radius: 5px;
font-weight: 500;
font-size: 15px;
font-family: "Noto Sans KR", sans-serif;
box-shadow: 0px 0px 4px #cacaca;
opacity: 0.7;
}

.middle {
display: flex;
justify-content: space-between;
align-items: center;
width: 98%;
margin: 38px 20px 10px 0px;
}
.header-column-left {
display: flex;
justify-content: center;
align-items: center;
color: #282862;
font-weight: 300;
font-size: 50px;
font-family: 'GangwonEduPowerExtraBoldA';
margin: 10px 0px -20px 25px ;
text-shadow: 3px 5px 5px #adaccd;
}
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa-search {
color: grey;
font-size: 15px;
margin-right: 5px;
}
.input-search {
border: none;
height: 25px;
font-size: 20px;
transition: all 1s;
margin-left: 10px;
width: 380px;
font-weight: 550;
opacity: 0.8;
}
.input-search:focus {
outline: none;
}
.input-search::placeholder {
font-size: 20px;
font-family: "Noto Sans KR", sans-serif;
}
.header-column-right {
display: flex;
align-items: center;
}
.logout {
margin-left: 40px;
border: none;
width: 90px;
height: 40px;
border-radius: 5px;
background: #282862;
color: white;
font-weight: 800;
font-family: "Noto Sans KR", sans-serif;
box-shadow: 0px 2px 5px #cedfff;
}
.logout:focus {
outline: none;
}
.btns {
display: flex;
justify-content: space-between;
}
.btn {
border: none;
width: 90px;
height: 40px;
border-radius: 5px;
background-color: transparent;
font-weight: 700;
font-size: 16px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
box-shadow: 0px 0px 4px #cacaca;
margin-right: 8px;
}
.btn:focus {
outline: none;
}
.v-line {
border-left : medium solid #cacaca;
height : 37px;
opacity: 0.5;
}
hr {
position: relative;
top: 38px;
width: 1160px; 
}
.hr-solid {
border: 0px;
border-top: 2px solid #a0a0a0;  
opacity: 0.4;
}

.table {
display: flex;
flex-direction: column;
border: none;
width: 98%;
height: 530px;
border-radius: 5px;
box-shadow: 0px 0px 5px #cacaca;
padding: 22px 35px 25px 35px;
margin: 10px 35px 10px 5px;
line-height: 35px;
}
.input_table {
font-weight: 540;
font-size: 17px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; 
letter-spacing: -1px;
opacity: 0.85;
}
.table-columns {
display: flex;
}
.table-row-item {
display: flex;
padding: 10px 0px;
align-items: center;
}
.clicked {
background-color: #e8f0fe;
}
.table-columns {
width: 100%;
}
.table-column-check,
.table-row-check {
width: 200px;
}
.table-row-check {
padding-left: 15px;
}
.table-column-name,
.table-row-name {
width: 620px;
}
.table-column-date,
.table-row-date {
width: 290px;
}
.table-column-size,
.table-row-size {
width: 170px;
}
.table-rows {
overflow: auto;
height: 100%;
}
th, td {
text-align: center;
}
.upload-input {
display: none;
}